button {
  border: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  &.nav-link {
    letter-spacing: normal !important;
    &::before {
      content: '' !important;
    }
  }

  &.link-inicio {
    transition: all .2s linear;
    &::before {
      content: '+';
      font-size: 1.2rem;
      position: relative;
      margin-right: 2px;
      top: 2px;
      display: inline-block; // Asegura que el pseudo-elemento pueda ser animado
    }

    &:hover {
      letter-spacing: .05rem;
      &::before {
        animation: rotateAnimation 0.2s linear;
        bottom: 2px;
    }
    }
  }
}

// Define la animación
@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

.curriculum {
  padding: 10px 18px !important;
  background-color: $dorado-claro;
  text-decoration: none;
  width: fit-content;
  color: $blanco;
  font-weight: 600;
  transition: all .3s ease-in-out;
  font-size: 16px;
  height: fit-content;
  &:hover {
    background-color: $blanco;
    color: $dorado;
  }
}