header {
  position: fixed;
  width: 100%;
  top: 0% !important;
  transform: translateY(0%) !important;
  z-index: 500;
  background-repeat: repeat-x;
  background-position: center;
  transition: all .3s linear;
  height: 45px;
  @media (min-width: $md) {
    height: 55px;
  }
  @media (min-width: $lg) {
    height: 79px;
  }
  &.fondo-inicio {
    background-color: $blanco;
  }
  &.fondo-trayectoria {
    background-color: $dorado;
  }
  &.fondo-conocimientos {
    background-color: $gris-100;
  }
  &.fondo-portafolio {
    background-color: $gris-00;
  }
  .navbar {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    @media (min-width: $md) {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    @media (min-width: $lg) {
      margin-top: 12px;
      margin-bottom: 12px;
    }
    ul {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      li {
        text-transform: uppercase;
        height: 45px;
        font-size: .65rem;
        @media (min-width: $md) {
          font-size: .8rem;
        }
        @media (min-width: $lg) {
          font-size: .9rem;
          height: 55px;
        }
        &.separador-lista {
          display: none;
          @media (min-width: $md) {
            display: inherit;
            width: 10%;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='100%' height='1' viewBox='0 0 100 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='-4.37114e-08' y1='0.5' x2='635' y2='0.499944' stroke='%23E2A337'/%3E%3C/svg%3E");
            background-repeat: repeat-x;
            background-position: center;
          }
          @media (min-width: $lg) {
            width: 20%;
          }
        }
        &.boton {
          width: 23.75%;
          @media (min-width: $md) {
            width: 16.5%;
          }
        }
        &.logo {
          border-top: none;
          width: 5%;
          @media (min-width: $md) {
            width: 7%;
          }
          @media (min-width: $lg) {
            width: 10%;
          }
        }
        &.separador-menu {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6' fill='none'%3E%3Ccircle cx='3' cy='3' r='3' fill='%23CF8300'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: 6px 6px;
          background-position: center center;
          width: 1%;
          height: 45px;
          display: none;
          &.blanco {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6' fill='none'%3E%3Ccircle cx='3' cy='3' r='3' fill='%23fff'/%3E%3C/svg%3E");
          }
          @media (min-width: $md) {
            display: block;
          }
          @media (min-width: $lg) {
            height: 55PX;
          }
        }
        
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 45px;
          padding: 0 !important;
          font-weight: 300;
          @media (min-width: $lg) {
            height: 55px;
          }
          &.logo-link {
            background-size: 15px 24px;
            background-repeat: no-repeat;
            background-position: center center;
            width: auto;
            height: 45px;
            @media (min-width: $md) {
              background-size: 28px 45px;
              height: 45px;
              display: block;
            }
            @media (min-width: $lg) {
              background-size: 35px 55px;
              height: 55px;
              display: block;
            }
          }
          &.link-inicio {
            color: $gris-inicio;
            &.logo-link {
              background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='37' height='59' fill='none'%3E%3Cpath fill='%23CF8300' d='m18.5 1.763.738.39 15.351 8.076.837.439v37.654l-.837.439-15.351 8.076-.738.39-.738-.39L2.411 48.77l-.837-.438V10.678l.837-.439 15.351-8.086.738-.39ZM18.5 0l-.738.39-.738.39L1.673 8.855l-.837.438L0 9.733v39.525l.836.438.837.438 15.35 8.077.739.39.738.39.738-.39.738-.39 15.351-8.077.837-.438.836-.438V9.733l-.836-.439-.837-.438L19.977.779l-.739-.39L18.5 0Z'/%3E%3Cpath fill='%23CF8300' d='M29.915 30.698v14.35L18.5 51.06 7.085 45.049V13.95L18.5 7.941l11.415 6.01v12.354l3.936 2.075V11.613L18.5 3.527 3.149 11.613v35.784L18.5 55.473l15.351-8.076V32.783l-3.936-2.085Z'/%3E%3Cpath fill='%23CF8300' d='M24.404 32.238v9.537L18.5 44.883l-5.904-3.108v-8.251h5.855L8.66 28.36v15.754l9.84 5.183 9.84-5.183V29.87l-15.744-8.28v-4.356l5.904-3.108 5.904 3.108v3.06H18.5l9.84 5.182v-10.59L18.5 9.713l-9.84 5.173v9.06l15.744 8.292Z'/%3E%3C/svg%3E");
            }
            &:hover {
              color: $gris-100;
            }
            &.active {
              color: $dorado;
              .indicador-boton {
                background-color: $dorado;
              }
            }
          }

          &.link-trayectoria {
            color: $dorado-link-trayectoria;
            &.logo-link {
              background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='37' height='59' fill='none'%3E%3Cpath fill='%23fff' d='m18.5 1.763.738.39 15.351 8.076.837.439v37.654l-.837.439-15.351 8.076-.738.39-.738-.39L2.411 48.77l-.837-.438V10.678l.837-.439 15.351-8.086.738-.39ZM18.5 0l-.738.39-.738.39L1.673 8.855l-.837.438L0 9.733v39.525l.836.438.837.438 15.35 8.077.739.39.738.39.738-.39.738-.39 15.351-8.077.837-.438.836-.438V9.733l-.836-.439-.837-.438L19.977.779l-.739-.39L18.5 0Z'/%3E%3Cpath fill='%23fff' d='M29.915 30.698v14.35L18.5 51.06 7.085 45.049V13.95L18.5 7.941l11.415 6.01v12.354l3.936 2.075V11.613L18.5 3.527 3.149 11.613v35.784L18.5 55.473l15.351-8.076V32.783l-3.936-2.085Z'/%3E%3Cpath fill='%23fff' d='M24.404 32.238v9.537L18.5 44.883l-5.904-3.108v-8.251h5.855L8.66 28.36v15.754l9.84 5.183 9.84-5.183V29.87l-15.744-8.28v-4.356l5.904-3.108 5.904 3.108v3.06H18.5l9.84 5.182v-10.59L18.5 9.713l-9.84 5.173v9.06l15.744 8.292Z'/%3E%3C/svg%3E");
            }
            &:hover {
              color: #EDD9B8;
            }
            .indicador-boton {
              background-color: $dorado-link-trayectoria;
              
            }
            &.active {
              color: $blanco;
              .indicador-boton {
                background-color: $blanco;
              }
            }
          }

          &.link-conocimientos {
            color: $gris-conocimientos;
            &.logo-link {
              background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='37' height='59' fill='none'%3E%3Cpath fill='%23CF8300' d='m18.5 1.763.738.39 15.351 8.076.837.439v37.654l-.837.439-15.351 8.076-.738.39-.738-.39L2.411 48.77l-.837-.438V10.678l.837-.439 15.351-8.086.738-.39ZM18.5 0l-.738.39-.738.39L1.673 8.855l-.837.438L0 9.733v39.525l.836.438.837.438 15.35 8.077.739.39.738.39.738-.39.738-.39 15.351-8.077.837-.438.836-.438V9.733l-.836-.439-.837-.438L19.977.779l-.739-.39L18.5 0Z'/%3E%3Cpath fill='%23CF8300' d='M29.915 30.698v14.35L18.5 51.06 7.085 45.049V13.95L18.5 7.941l11.415 6.01v12.354l3.936 2.075V11.613L18.5 3.527 3.149 11.613v35.784L18.5 55.473l15.351-8.076V32.783l-3.936-2.085Z'/%3E%3Cpath fill='%23CF8300' d='M24.404 32.238v9.537L18.5 44.883l-5.904-3.108v-8.251h5.855L8.66 28.36v15.754l9.84 5.183 9.84-5.183V29.87l-15.744-8.28v-4.356l5.904-3.108 5.904 3.108v3.06H18.5l9.84 5.182v-10.59L18.5 9.713l-9.84 5.173v9.06l15.744 8.292Z'/%3E%3C/svg%3E");
            }
            &:hover {
              color: $blanco;
            }
            &.active {
              color: $dorado;
            }
          }
          
          &.link-portafolio {
            color: $dorado-oscuro;
            &.logo-link {
              background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='37' height='59' fill='none'%3E%3Cpath fill='%23CF8300' d='m18.5 1.763.738.39 15.351 8.076.837.439v37.654l-.837.439-15.351 8.076-.738.39-.738-.39L2.411 48.77l-.837-.438V10.678l.837-.439 15.351-8.086.738-.39ZM18.5 0l-.738.39-.738.39L1.673 8.855l-.837.438L0 9.733v39.525l.836.438.837.438 15.35 8.077.739.39.738.39.738-.39.738-.39 15.351-8.077.837-.438.836-.438V9.733l-.836-.439-.837-.438L19.977.779l-.739-.39L18.5 0Z'/%3E%3Cpath fill='%23CF8300' d='M29.915 30.698v14.35L18.5 51.06 7.085 45.049V13.95L18.5 7.941l11.415 6.01v12.354l3.936 2.075V11.613L18.5 3.527 3.149 11.613v35.784L18.5 55.473l15.351-8.076V32.783l-3.936-2.085Z'/%3E%3Cpath fill='%23CF8300' d='M24.404 32.238v9.537L18.5 44.883l-5.904-3.108v-8.251h5.855L8.66 28.36v15.754l9.84 5.183 9.84-5.183V29.87l-15.744-8.28v-4.356l5.904-3.108 5.904 3.108v3.06H18.5l9.84 5.182v-10.59L18.5 9.713l-9.84 5.173v9.06l15.744 8.292Z'/%3E%3C/svg%3E");
            }
            &:hover {
              color: $dorado-oscuro;
            }
            &.active {
              color: $gris-100;
              .indicador-boton {
                background-color: $dorado-portafolio;
              }
            }
          }
        }
      }
    }
  }
}
