.logo-inicio {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='127' fill='none'%3E%3Cpath fill='%23CF8300' d='m39.878 3.786 1.573.836 32.715 17.34 1.782.94v80.84l-1.782.941-32.715 17.339-1.573.837-1.573-.837L5.59 104.704l-1.782-.941v-80.84l1.782-.94 32.715-17.36 1.573-.837Zm0-3.786-1.573.837-1.573.836-32.715 17.34-1.782.94-1.783.942v84.855l1.783.941 1.782.941 32.715 17.339 1.573.837 1.573.836 1.573-.836 1.573-.837 32.715-17.339 1.782-.941 1.783-.941V20.895l-1.783-.942-1.782-.94-32.715-17.34L41.45.837 39.878 0Z'/%3E%3Cpath fill='%23CF8300' d='M64.204 65.905v30.809l-24.326 12.905-24.326-12.905V29.95l24.326-12.905 24.326 12.905v26.521l8.389 4.455V24.931L39.878 7.571 7.163 24.931v76.824l32.715 17.339 32.715-17.339V70.381l-8.389-4.476Z'/%3E%3Cpath fill='%23CF8300' d='M53.043 70.049V90.88l-12.801 6.788L27.44 90.88V72.857h12.694L18.907 61.58v34.407l21.335 11.32 21.334-11.32v-31.11L27.441 46.792V37.28l12.8-6.788 12.802 6.788v6.681H40.242l21.334 11.32v-23.13L40.242 20.854 18.907 32.152V51.94l34.136 18.108Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 79px 127px;
  width: 790px;
  height: 127px;
  margin-bottom: 36px;
}

.contenedor-iconos-conocimiento {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  // text-align: right;

  .ico-conocimientos {
    width: 40px;
    height: auto;
    margin: 10px;
  }

  img {
    filter: blur(4px);
    opacity: .5;
  }

  .grupo-1 {
    position: absolute;
    width: 400px;
    height: 70px;
    top: 45%;
    bottom: 50%;
    right: 10%;
    transform: translateY(-50%);
    border: 1px solid red;
  }
  .grupo-2 {
    position: absolute;
    width: 400px;
    height: 70px;
    top: 50%;
    bottom: 50%;
    right: 10%;
    transform: translateY(-50%);
    border: 1px solid red;
  }
  .grupo-3 {
    position: absolute;
    width: 400px;
    height: 70px;
    top: 55%;
    bottom: 50%;
    right: 10%;
    transform: translateY(-50%);
    border: 1px solid red;
  }
  .grupo-4 {
    position: absolute;
    width: 400px;
    height: 70px;
    top: 60%;
    bottom: 50%;
    right: 10%;
    transform: translateY(-50%);
    border: 1px solid red;
  }
  .grupo-5 {
    position: absolute;
    width: 400px;
    height: 70px;
    top: 65%;
    bottom: 50%;
    right: 10%;
    transform: translateY(-50%);
    border: 1px solid red;
  }
}