video {
  aspect-ratio: 9 / 16;
  width: 100vw;
  height: 85vh;
  object-fit: cover !important;
  position: absolute;
  z-index: 0;
  top: 0;
  @media (min-width: $md) {
    aspect-ratio: 16 / 9;
    width: 100%;
  }
}