$blanco: #fff;
$negro: #000;
$dorado: #cf8300;
$dorado-claro: rgb(245, 166, 30, .8);
$dorado-claro-10: #ECC16C;
$dorado-claro-00: #f7e3bf;
$dorado-oscuro: #9E6503;
$dorado-link-trayectoria: #E5BE7C;
$gris-inicio: #989898;
$dorado-portafolio: #f0b248;
$gris-conocimientos: #C3C3C3;
$gris-conocimientos-texto: #656565;
$gris-100: #5d5d5d;
$gris-80: #7d7d7d;
$gris-40: #9A9A9A;
$gris-30: #afafaf;
$gris-20: #c7c7c7;
$gris-10: #C3C3C3;
$gris-00: #f0f0f0;


// Media breakpoints
$sm: 374.98px;
$md: 767.98px;
$lg: 1279.98px;
$xl: 1365.98px;
$xxl: 1439.98px;
