.conocimientos {
  h1 {
    color: $dorado;
    line-height: 1.1;
    margin-left: 40px;
  }
}

/*.conocimientos {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: auto;
  @media (max-width: $md) {
    position: relative;
    height: fit-content;
    z-index: 0 !important;
  }

  .detalle-conocimientos {
    color: $blanco;
    @media (max-width: $md) {
      padding-top: 42px;
      padding-bottom: 80px;
    }
    h1 {
      color: $dorado;
      padding-left: 24px;
      padding-top: 4px;
      @media (min-width: $md) {
        padding-left: 0;
        padding-top: 0;
      }
    }
    
    .logo {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='37' height='59' fill='none'%3E%3Cpath fill='%23CF8300' d='m18.5 1.763.738.39 15.351 8.076.837.439v37.654l-.837.439-15.351 8.076-.738.39-.738-.39L2.411 48.77l-.837-.438V10.678l.837-.439 15.351-8.086.738-.39ZM18.5 0l-.738.39-.738.39L1.673 8.855l-.837.438L0 9.733v39.525l.836.438.837.438 15.35 8.077.739.39.738.39.738-.39.738-.39 15.351-8.077.837-.438.836-.438V9.733l-.836-.439-.837-.438L19.977.779l-.739-.39L18.5 0Z'/%3E%3Cpath fill='%23CF8300' d='M29.915 30.698v14.35L18.5 51.06 7.085 45.049V13.95L18.5 7.941l11.415 6.01v12.354l3.936 2.075V11.613L18.5 3.527 3.149 11.613v35.784L18.5 55.473l15.351-8.076V32.783l-3.936-2.085Z'/%3E%3Cpath fill='%23CF8300' d='M24.404 32.238v9.537L18.5 44.883l-5.904-3.108v-8.251h5.855L8.66 28.36v15.754l9.84 5.183 9.84-5.183V29.87l-15.744-8.28v-4.356l5.904-3.108 5.904 3.108v3.06H18.5l9.84 5.182v-10.59L18.5 9.713l-9.84 5.173v9.06l15.744 8.292Z'/%3E%3C/svg%3E");
      background-size: 25px 40px;
      width: 25px;
      height: 40px;
      position: absolute;
      top: 36px;
      left: 8.5%;
      @media (min-width: $md) {
        position: fixed;
        background-size: 37px 59px;
        width: 37px;
        height: 59px;
        top: calc(0px + 24px);
        left: calc(0px + 24px);
      }
    }
  
    .nombre {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='175' height='55' fill='none'%3E%3Cpath fill='%23989898' d='M14 12.7C14 5.413 19.639 0 26.826 0s8.956 2.54 10.946 6.295l-6.634 3.866c-.885-1.767-2.212-2.982-4.423-2.982s-4.533 2.43-4.533 5.3c0 3.204 1.88 5.413 4.533 5.413 2.654 0 3.538-1.215 4.533-3.093l6.634 3.755c-1.99 3.645-5.417 6.516-11.388 6.516C20.524 25.07 14 20.21 14 12.7ZM39.21.552h8.07v17.23H58.67v6.957h-19.46V.552Z'/%3E%3Cpath fill='%23989898' d='M68.51.442h8.07l10.173 24.297h-8.735l-1.327-3.203h-8.513L66.96 24.74h-8.624L68.51.442ZM74.7 15.793 72.49 9.94l-2.212 5.853h4.423ZM86.09 13.916V.552h8.181v13.253c0 2.982 1.549 4.307 3.76 4.307s3.759-1.214 3.759-4.086V.552h8.182v13.143c0 8.283-4.754 11.486-12.052 11.486-7.297 0-11.941-3.314-11.941-11.376l.11.11ZM112.294.552h9.288c9.619 0 14.373 4.75 14.373 11.928 0 7.179-4.865 12.259-14.705 12.259h-8.956V.552Zm9.398 17.119c3.649 0 6.081-1.546 6.081-4.97 0-3.534-2.432-5.08-6.081-5.08h-1.327v10.05h1.327ZM137.835.552h8.071V24.74h-8.071V.552ZM147.896 12.7c0-7.067 5.75-12.7 13.269-12.7 7.518 0 13.157 5.522 13.157 12.48 0 7.068-5.749 12.7-13.268 12.7-7.519 0-13.158-5.521-13.158-12.48Zm18.244 0c0-2.981-1.99-5.521-5.086-5.521s-4.976 2.54-4.976 5.411c0 2.982 1.991 5.522 5.087 5.522 3.095 0 4.975-2.54 4.975-5.411ZM0 50.803l4.312-5.19c2.654 1.987 5.639 2.87 8.514 2.87 2.874 0 2.1-.33 2.1-.993 0-.773-.773-1.105-3.316-1.657-5.418-1.104-10.173-2.65-10.173-7.73 0-4.64 3.65-8.173 10.283-8.173 6.634 0 8.071 1.104 10.946 3.313l-3.98 5.412c-2.322-1.657-4.976-2.43-7.298-2.43s-1.769.442-1.769.994c0 .773.664 1.104 3.207 1.657 6.191 1.104 10.282 2.981 10.282 7.84 0 5.192-4.201 8.284-10.725 8.284C5.86 55 3.096 53.564 0 50.914v-.11ZM32.507 30.15h8.071L50.75 54.449h-8.735l-1.326-3.203h-8.514l-1.216 3.203h-8.625L32.508 30.15Zm6.191 15.352-2.211-5.853-2.211 5.853h4.422ZM51.414 30.261h8.071V47.49h11.388v6.958h-19.46V30.26Z'/%3E%3Cpath fill='%23989898' d='M80.714 30.15h8.071l10.172 24.298h-8.734l-1.327-3.203h-8.514l-1.216 3.203h-8.624L80.714 30.15Zm6.081 15.352-2.211-5.853-2.212 5.853h4.423Z'/%3E%3Cpath fill='%23989898' d='m98.736 48.815 10.946-11.927H99.179V30.26h22.113v5.633L110.346 47.82h10.946v6.627H98.736v-5.633ZM131.464 30.15h8.072l10.172 24.298h-8.735l-1.327-3.203h-8.514l-1.216 3.203h-8.624l10.172-24.297Zm6.081 15.352-2.211-5.853-2.211 5.853h4.422ZM150.26 30.261h11.831c4.312 0 6.966 1.104 8.735 2.761 1.437 1.436 2.211 3.203 2.211 5.743 0 3.645-1.879 6.074-4.754 7.51l5.639 8.173h-9.177l-4.533-6.958h-1.77v6.958h-8.071V30.26h-.111Zm11.61 11.486c1.99 0 3.096-.884 3.096-2.32 0-1.656-1.216-2.429-3.096-2.429h-3.538v4.749h3.538Z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right 0;
      position: absolute;
      top: calc(0px + 32px);
      right: calc(0px + 62px);
      display: none;
      width: fit-content;
      padding-left: 50px !important;
      h3 {
        display: none;
        color: $gris-30;
        @media (min-width: $md) {
          display: block;
          margin-top: 50px;
        }
        @media (min-width: $lg) {
          margin-top: 60px;
        }
        @media (min-width: $xl) {
          margin-top: 66px;
        }
        @media (min-width: $xxl) {
          margin-top: 76px;
        }
      }
      @media (min-width: $md) {
        position: fixed;
        background-size: 104px 34px;
        height: fit-content;    
        top: calc(0px + 24px);
        right: calc(0px + 24px);
        display: block;
        padding-left: 10px;
      }
      @media (min-width: $lg) {
        position: fixed;
        background-size: 135px 43.2px;
        padding-left: 20px;
      }
      @media (min-width: $xl) {
        position: fixed;
        background-size: 155px 49.6px;
      }
      @media (min-width: $xxl) {
        position: fixed;
        background-size: 165px 52.8px;
      }
    }
  }
}*/