.inicio {
  aspect-ratio: 9/16;
  @media (min-width: $md) {
    aspect-ratio: 16/9;
  }
  .contenido-portada {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    
    h1 {
      color: $dorado;
      font-size: 1.5rem;
      margin-bottom: 20px;
      width: fit-content;
      span {
        display: block;
        text-align: center;
        min-width: fit-content !important;
      }
    }
  
    h2 {
      color: $negro;
      font-size: 3.2rem;
      font-weight: 900;
    }
  
    .nombre-inicio {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='403' height='30' fill='none'%3E%3Cpath fill='%23000' d='M14.671 29.6c-7.76 0-14.52-5.84-14.52-14.52V15C.151 6.64 6.671.4 15.031.4c6.16 0 10.32 3 12.68 7.28l-7.72 4.52c-1.04-2-2.52-3.4-5.08-3.4-3.16 0-5.24 2.76-5.24 6.12V15c0 3.64 2.16 6.2 5.24 6.2 2.64 0 4.12-1.44 5.28-3.52l7.72 4.36c-2.36 4.16-6.28 7.56-13.24 7.56Zm15.027-.6V1h9.36v20h13.16v8h-22.52Zm22.53 0L64.028.8h9.28l11.8 28.2h-10.16l-1.48-3.76h-9.8L62.228 29h-10Zm13.8-10.4h5.12l-2.56-6.8-2.56 6.8Zm32.541 10.96c-8.36 0-13.76-3.84-13.76-13.12V1h9.52v15.32c0 3.48 1.8 4.96 4.32 4.96 2.52 0 4.32-1.36 4.32-4.76V1h9.52v15.24c0 9.56-5.56 13.32-13.92 13.32ZM115.44 29V1h10.72c11.12 0 16.68 5.48 16.68 13.76v.08c0 8.28-5.68 14.16-17 14.16h-10.4Zm9.36-8.16h1.56c4.28 0 7.04-1.76 7.04-5.8v-.08c0-4.04-2.76-5.8-7.04-5.8h-1.56v11.68ZM145.481 29V1h9.36v28h-9.36Zm27.254.6c-8.64 0-15.24-6.4-15.24-14.52V15c0-8.12 6.68-14.6 15.32-14.6s15.24 6.4 15.24 14.52V15c0 8.12-6.68 14.6-15.32 14.6Zm.08-8.28c3.56 0 5.8-2.96 5.8-6.24V15c0-3.32-2.28-6.32-5.88-6.32-3.56 0-5.8 2.96-5.8 6.24V15c0 3.32 2.28 6.32 5.88 6.32Zm39.977 8.2c-5.68 0-10.8-1.6-14.36-4.72l5-5.96c3.04 2.32 6.52 3.28 9.8 3.28 1.68 0 2.4-.44 2.4-1.2v-.08c0-.8-.88-1.24-3.88-1.84-6.28-1.28-11.8-3.08-11.8-9v-.08c0-5.32 4.16-9.44 11.88-9.44 5.4 0 9.4 1.28 12.64 3.84l-4.56 6.32c-2.64-1.92-5.8-2.76-8.4-2.76-1.4 0-2.04.48-2.04 1.16v.08c0 .76.76 1.24 3.72 1.8 7.16 1.32 11.96 3.4 11.96 9.04v.08c0 5.88-4.84 9.48-12.36 9.48Zm11.897-.52 11.8-28.2h9.28l11.8 28.2h-10.16l-1.48-3.76h-9.8l-1.44 3.76h-10Zm13.8-10.4h5.12l-2.56-6.8-2.56 6.8ZM258.721 29V1h9.36v20h13.16v8h-22.52Zm22.53 0 11.8-28.2h9.28l11.8 28.2h-10.16l-1.48-3.76h-9.8l-1.44 3.76h-10Zm13.8-10.4h5.12l-2.56-6.8-2.56 6.8ZM314.404 29v-6.56l12.68-13.76h-12.2V1h25.64v6.56l-12.68 13.76h12.68V29h-26.12Zm26.379 0 11.8-28.2h9.28l11.8 28.2h-10.16l-1.48-3.76h-9.8l-1.44 3.76h-10Zm13.8-10.4h5.12l-2.56-6.8-2.56 6.8ZM374.815 29V1h13.68c4.96 0 8.12 1.24 10.08 3.2 1.68 1.68 2.56 3.76 2.56 6.64v.08c0 4.08-2.12 6.92-5.52 8.56l6.52 9.52h-10.68l-5.28-8h-2v8h-9.36Zm9.36-14.68h4.04c2.24 0 3.6-1 3.6-2.72v-.08c0-1.8-1.4-2.68-3.56-2.68h-4.08v5.48Z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 30px;
      background-size: 300px 23px;
      @media (min-width: $md) {
        background-size: 403px 30px;
      }
    }
  }

  .fondo-video {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .yt-embed {
      max-width: 100% !important;
      overflow: hidden;
      aspect-ratio: 16 / 9;
      position: relative;
      z-index: 0;
    
      iframe {
        width: 100%;
        height: 100%;
        transform: scale(1.2);
      }
    
      .yt-embed-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
      }
    }
  }
  
  .ico-saludo {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='53' height='43' fill='none'%3E%3Cpath fill='%23CF8300' d='M25.906 43a2.73 2.73 0 0 1-1.767-.618c-.51-.411-.764-.965-.764-1.661 0-.327.077-.688.23-1.084.155-.396.386-.724.694-.985l10.059-9.19-1.353-1.237-10.051 9.19a3.096 3.096 0 0 1-1.046.634c-.39.14-.783.211-1.183.211-.704 0-1.3-.223-1.79-.67-.488-.445-.733-.99-.733-1.634 0-.384.086-.759.258-1.125a2.85 2.85 0 0 1 .651-.91l10.06-9.19-1.35-1.231-10.058 9.175c-.273.25-.613.453-1.02.61a3.375 3.375 0 0 1-1.223.235c-.693 0-1.287-.225-1.78-.676-.494-.452-.741-.994-.741-1.627 0-.365.077-.725.23-1.08a2.8 2.8 0 0 1 .695-.955l9.428-8.614-1.354-1.233-9.412 8.615c-.263.24-.598.438-1.004.595-.406.157-.82.235-1.24.235-.738 0-1.343-.216-1.814-.649a2.113 2.113 0 0 1-.707-1.623c0-.358.083-.72.249-1.085.166-.366.39-.68.675-.94L22.24 12.155l5.397 4.904a4.7 4.7 0 0 0 1.663.997 6.14 6.14 0 0 0 1.996.311c1.317 0 2.403-.384 3.26-1.152.857-.769 1.285-1.769 1.285-3 0-.593-.13-1.17-.39-1.732-.26-.561-.652-1.085-1.174-1.572l-7.232-6.608 2.812-2.579c.598-.538 1.323-.96 2.174-1.264A7.511 7.511 0 0 1 34.584 0c.904 0 1.786.153 2.647.459.862.305 1.597.736 2.207 1.293l11.697 10.702a5.674 5.674 0 0 1 1.364 1.92c.334.755.501 1.591.501 2.51a5.59 5.59 0 0 1-.51 2.358 5.778 5.778 0 0 1-1.355 1.884l-23.001 21.03c-.294.268-.64.476-1.035.623-.396.147-.794.221-1.193.221ZM5.737 24.712l-3.4-3.106a6.689 6.689 0 0 1-1.75-2.515C.197 18.11 0 17.155 0 16.22c0-.985.175-1.88.525-2.683.35-.803.797-1.452 1.34-1.948l10.752-9.838a7.104 7.104 0 0 1 1.965-1.28A5.822 5.822 0 0 1 16.94 0c.914 0 1.752.148 2.516.444.763.296 1.46.732 2.09 1.308l11.373 10.39c.318.29.564.628.74 1.013.174.385.261.736.261 1.053 0 .713-.239 1.303-.717 1.772-.479.468-1.124.702-1.937.702-.41 0-.828-.08-1.254-.24a3.234 3.234 0 0 1-1.138-.726l-6.65-6.066L5.737 24.712Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px 28px;
    width: 35px;
    height: 28px;
    &:hover {
      @include saludo;
    }
    @media (min-width: $md) {
      background-size: 40px 32px;
      width: 40px;
      height: 32px;
    }
    @media (min-width: $lg) {
      background-size: 50px 40px;
      width: 50px;
      height: 40px;
    }
    @media (min-width: $xl) {
      background-size: 52px 46px;
      width: 52px;
      height: 46px;
    }
    @media (min-width: $xxl) {
      background-size: 52px 46px;
      width: 52px;
      height: 46px;
    }
  }
}

.resumen-trayectoria {
  background-color: $dorado;
  position: relative;
  z-index: 0;
  h3 {
    color: $blanco;
  }
  h4 {
    font-weight: 800;
    color: $dorado-claro-10;
    text-align: center;
    @media (min-width: $md) {
      text-align: justify;
    }
    .span-texto {
      font-size: 1.5rem;
      margin-right: 16px;
    }
    .span-anho {
      font-size: 1.5rem;
    }
    @media (min-width: $md) {
      .span-texto {
        font-size: 2rem;
      }
      .span-anho {
        font-size: 2.85rem;
      }
    }
  }
  .texto-resumen-trayectoria {
    display: flex;
    justify-items: space-between;
    flex-direction: column;
    border-left: 1px solid $dorado-claro-10;
    p {
      color: $blanco;
      font-size: .95rem;
      font-weight: 200;
      a {
        color: $blanco;
      }
    }
  }
}

.resumen-conocimiento {
  background-color: $gris-100;
  position: relative;
  z-index: 0;
  height: fit-content;
  .separador-resumen-conocimiento {
    border: none;
    @media (min-width: $md) {
      border-left: 1px solid $gris-80;
      border-right: 1px solid $gris-80;
      &:first-child {
        border: none;
      }
    }
  }
  h3 {
    color: $dorado;
    margin: 0;
    display: block;
  }
  p {
    color: $blanco;
    font-size: .95rem;
    font-weight: 200;
    a {
      color: $blanco;
    }
  }
  .ico-conocimientos-resumen {
    width: fit-content;
    height: fit-content;
  }
}

.resumen-portafolio {
  background-color: $gris-00;
  position: relative;
  z-index: 0;
  h3 {
    color: $dorado-oscuro;
  }
  hr {
    width: 22%;
    @media (min-width: $md) {
      width: 12%;
    }
  }
  ul {
    width: 85% !important;
    @media (min-width: $md) {
      width: 50% !important;
    }
    li {
      list-style: none;
      margin: 4% auto;
      @media (min-width: $md) {
        width: 29.333333%;
        margin: auto 2%;
      }
      img {
        width: 100%;
      }
    }
  }
  p {
    color: $blanco;
    font-size: .95rem;
    font-weight: 200;
    a {
      color: $dorado-oscuro;
    }
  }
}

