@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "~bootstrap/scss/bootstrap";

@import "./scss/mixins";
@import "./scss/variables";

// Layout
@import "./scss/layout/contenedores";
@import "./scss/layout/contactame";
@import "./scss/layout/inicio";
@import "./scss/layout/portafolio";
@import "./scss/layout/conocimientos";
@import "./scss/layout/trayectoria";


// Components
@import "./scss/components/accordion";
@import "./scss/components/button";
@import "./scss/components/iconos";
@import "./scss/components/loader";
@import "./scss/components/modal";
@import "./scss/components/textos";
@import "./scss/components/header";
@import "./scss/components/footer";
@import "./scss/components/video";

body {
  font-family: "Montserrat", serif;
}

.separador {
  width: 30%;
  height: 1px;
  margin: 24px 0;
  border-color: $gris-40;
}

:focus {
  outline: 0;
  box-shadow: none !important;
}

ul {
  padding: 0;
}
